@page "/single-professor-view"

@inject IClientStudentService ClientStudentService
@inject IClientAuthService ClientAuthService
@inject IClientUserService ClientUserService
@inject NavigationManager NavigationManager
@inject ISnackbar Snackbar
<PageTitle>Enrollment</PageTitle>

<h3>Manage Enrollment</h3>

@if (professor == null)
{
    <MudText Typo="Typo.h1">No Valid User</MudText>

}
else
{


    <MudTable Items="new List<Professor> { professor }" Hover="true" Striped="true" Dense="true" Class="mb-2">

        <HeaderContent>
            <MudTh></MudTh>
            <MudTh>Name</MudTh>
            <MudTh>BirthDate</MudTh>
            <MudTh>Contact</MudTh>
            <MudTh>Address</MudTh>
            <AuthorizeView Roles="Student">
                <MudTh>Actions</MudTh>
            </AuthorizeView>

        </HeaderContent>
        <RowTemplate Context="Student">
            <MudTd DataLabel="Image"><MudAvatar Image="@Student.Image" /></MudTd>
            <MudTd DataLabel="Name">@Student.FirstName @Student.LastName</MudTd>
                <MudTd DataLabel="BirthDate">@Student.BirthDate</MudTd>
                <MudTd DataLabel="Contact">@Student.Contact</MudTd>
                <MudTd DataLabel="Address">@Student.Address</MudTd>
                <AuthorizeView Roles="Professor">
                    <Authorized>
                        <MudTd>
                            <MudButton OnClick="(() => ViewDetails(Student.Id))"
                                       Variant="Variant.Filled"
                                       Size="Size.Small"
                                       Color="Color.Success">
                                View Details
                            </MudButton>
                        </MudTd>
                    </Authorized>
                </AuthorizeView>
            </RowTemplate>
        </MudTable>

    <p style="height:500px;"></p>
}
@code
{

    public Professor? professor = new Professor();



    protected override async Task OnInitializedAsync()
    {
        professor = await ClientUserService.GetSingleProfessor();
    }

    void ViewDetails(int id)
    {
        NavigationManager.NavigateTo($"/student-enrolled-subject/{id}");
    }

}