<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BlazorWasmDotNet8AspNetCoreHosted.Client</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">

        <div class="nav-item px-3">
            <MudNavLink Href="" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Dashboard" IconColor="Color.Tertiary">Dashboard</MudNavLink>
        </div>

        <div class="nav-item px-3">
            <MudNavLink Href="all-student" Icon="@Icons.Material.Filled.Person" IconColor="Color.Tertiary">Students</MudNavLink>
        </div>

        <div class="nav-item px-3">
            <MudNavLink Href="all-professor" Icon="@Icons.Material.Filled.Person" IconColor="Color.Tertiary">Professors</MudNavLink>
        </div>

        <div class="nav-item px-3">
            <MudNavLink Href="register-user" Icon="@Icons.Material.Filled.PersonAdd" IconColor="Color.Tertiary">Register</MudNavLink>
        </div>

        <div class="nav-item px-3">
            <MudNavLink Href="login" Icon="@Icons.Material.Filled.Login" IconColor="Color.Tertiary">Login</MudNavLink>
        </div>

        <div class="nav-item px-3">
            <MudNavLink Href="all-subject" Icon="@Icons.Material.Filled.Subject" IconColor="Color.Tertiary">Subjects</MudNavLink>
        </div>

        <div class="nav-item px-3">
            <MudNavLink Href="all-book" Icon="@Icons.Material.Filled.LibraryBooks" IconColor="Color.Tertiary">Books</MudNavLink>
        </div

        <div class="nav-item px-3">
            <MudNavLink Href="all-user" Icon="@Icons.Material.Filled.People" IconColor="Color.Tertiary">Users</MudNavLink>
        </div

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="all-enrollment">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Enrollment
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="all-library">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Library
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
