
@using System.Security.Claims
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IClientAuthService ClientAuthService
@inject IClientUserService ClientUserService

@* <div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BlazorWasmDotNet8AspNetCoreHosted.Client</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div> *@
    
      <MudNavMenu>
        <AuthorizeView>
            <Authorized>
                <div class="d-flex justify-content-center mt-5">
                    <MudTd>
                        <MudAvatar Style="width: 150px; height: 150px;">
                            <MudImage Src="@avatar"></MudImage>
                        </MudAvatar> 
                    </MudTd>
                </div>
                <div class="d-flex justify-content-center mt-2 mb-5">
                    <MudText Typo="Typo.h6" Class="px-4" text-align: center>@context.User.Identity.Name</MudText>
          
                </div>
            </Authorized>
        </AuthorizeView>
            <MudNavLink Href="" 
                Match="NavLinkMatch.All" 
                Icon="@Icons.Material.Filled.Dashboard" 
                IconColor="Color.Tertiary">Dashboard
            </MudNavLink>

           <AuthorizeView Roles="Admin">
               <Authorized>
                    <MudNavLink Href="all-student" 
                        Icon="@Icons.Material.Filled.Person" 
                        IconColor="Color.Tertiary">Students
                    </MudNavLink>
                </Authorized>
            </AuthorizeView>
            
            <AuthorizeView Roles="Admin">
               <Authorized>
                    <MudNavLink Href="all-professor" 
                        Icon="@Icons.Material.Filled.Person" 
                        IconColor="Color.Tertiary">Professors
                    </MudNavLink>
            </Authorized>
        </AuthorizeView>

            <AuthorizeView Roles="Professor">
                <Authorized>
                    <MudNavGroup Title="My Student"
                                 @bind-Expanded=_subjectIsExpanded
                                 Icon="@Icons.Material.Filled.Subject"
                                 IconColor="Color.Tertiary">

                        <MudNavLink Href="single-professor-view"
                                    Icon="@Icons.Material.Filled.Subject"
                                    IconColor="Color.Tertiary">
                            View
                        </MudNavLink>

                    </MudNavGroup>
                </Authorized>
            </AuthorizeView>
       
            <AuthorizeView Roles="Student">
               <Authorized>
                <MudNavGroup Title="Subjects" 
                @bind-Expanded=_subjectIsExpanded
                Icon="@Icons.Material.Filled.Subject" 
                IconColor="Color.Tertiary">

                        <MudNavLink 
                            Href="single-student-view"               
                            Icon="@Icons.Material.Filled.Subject"
                            IconColor="Color.Tertiary">
                            Manage Enrollment
                        </MudNavLink>

                </MudNavGroup>
            </Authorized>
        </AuthorizeView>

        
        <AuthorizeView Roles="Student">
               <Authorized>
                    <MudNavGroup 
                        Title="Books"
                        @bind-Expanded=_bookIsExpanded
                        Icon="@Icons.Material.Filled.LibraryBooks"
                        IconColor="Color.Tertiary">

                        <MudNavLink 
                            Href="single-student-library-view"
                            Icon="@Icons.Material.Filled.Settings">
                            Manage Library
                        </MudNavLink>
                    </MudNavGroup>
            </Authorized>
        </AuthorizeView>

         <AuthorizeView Roles="Admin">
            <Authorized>
                <MudNavLink Href="all-subject"
                    Icon="@Icons.Material.Filled.Subject" 
                    IconColor="Color.Tertiary">Subjects
                </MudNavLink>
            </Authorized>
        </AuthorizeView>

          <AuthorizeView Roles="Admin">
              <Authorized>
                <MudNavLink Href="all-book" 
                    Icon="@Icons.Material.Filled.LibraryBooks"
                    IconColor="Color.Tertiary">Books
                </MudNavLink>
            </Authorized>
        </AuthorizeView>

        <AuthorizeView Roles="Admin">
            <Authorized>
                <MudNavLink 
                    Href="all-user" 
                    Icon="@Icons.Material.Filled.People" 
                    IconColor="Color.Tertiary">Users
                </MudNavLink>
            </Authorized>
        </AuthorizeView>

        <AuthorizeView Roles="Admin">
            <Authorized>
                <MudNavLink 
                    Href="all-enrollment" 
                    Icon="@Icons.Material.Filled.AddCard" 
                    IconColor="Color.Tertiary">Enrollment                                
                </MudNavLink>
            </Authorized>
        </AuthorizeView>

        <AuthorizeView Roles="Admin">
            <Authorized>
                 <MudNavLink 
                    Href="all-library" 
                    Icon="@Icons.Material.Filled.LibraryAdd" 
                    IconColor="Color.Tertiary">Library
                </MudNavLink>    
            </Authorized>
         </AuthorizeView>

        
                <MudNavLink Href="announcement"
                            Icon="@Icons.Material.Filled.AddCard"
                            IconColor="Color.Tertiary">
                    Announcement
                </MudNavLink>                                     
         

            <MudNavLink Href="chat"
                        Icon="@Icons.Material.Filled.AddCard"
                        IconColor="Color.Tertiary">
                Chat
            </MudNavLink>

            <MudNavLink Href="groupchat"
                        Icon="@Icons.Material.Filled.AddCard"
                        IconColor="Color.Tertiary">
                Group Chat
            </MudNavLink>

  </MudNavMenu>

@code 
{
    public string avatar;
    private bool collapseNavMenu = true;
    bool _subjectIsExpanded = false;
    bool _bookIsExpanded = false;
    private ClaimsPrincipal user;
    private string userName;
    public string userId;
    private IEnumerable<User> Users = new List<User>();
    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    // protected override async Task OnInitializedAsync()
    // {
    //     avatar = await ClientAuthService.GetSingleUserAvatar();
    // }

    protected override async Task OnInitializedAsync()
    {
        await ClientUserService.GetAllUser();

        avatar = await ClientAuthService.GetSingleUserAvatar();

        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        user = authState.User;

        userName = user.Identity.Name;
        // If the Name claim is not present, try fetching the NameIdentifier claim
        if (string.IsNullOrEmpty(userName))
        {
            userName = user.FindFirst(ClaimTypes.NameIdentifier)?.Value;
        }

        userId = user.FindFirst(ClaimTypes.NameIdentifier)?.Value;
    }

}
