@page "/single-subject"
@page "/single-subject/{id:int}"
@inject IClientSubjectService ClientSubjectService
@inject NavigationManager NavigationManager
@inject IClientProfessorService ClientProfessorService
@inject IClientEnrolledSubjectsService ClientEnrolledSubjectsService
@inject ISnackbar Snackbar 

@if (Id == 0)
{
    <PageTitle>Create a new Subject</PageTitle>
    <h3>Create a new Subject</h3>
}
else
{
    <PageTitle>Edit @subject.Name</PageTitle>
    <h3>Edit @subject.Name</h3>
}

<EditForm Model="subjects" OnValidSubmit="HandleSubmit">
    @if (Id == 0)
    {
        <DataAnnotationsValidator />
    }
    <MudCard>
        <MudCardContent>
            <MudTextField 
                Label="Name" @bind-Value="subjects.Name"
                For="@(() => subjects.Name)"/>

            @if (Id == 0)
            {
                <MudSelect 
                    T="Professor"
                    ToStringFunc="@((Professor professor) => professor.LastName)"
                    Label="Professors"
                    MultiSelection="true"
                    @bind-SelectedValues="selectedProfessorIds">

                    @foreach (Professor professor in Professors)
                    {
                        <MudSelectItem T="Professor" Value="@professor">@professor.LastName</MudSelectItem>
                    }
                     </MudSelect>
            }
            else
            {
                <MudSelect T="Professor"
                           Label="Professors"
                           ToStringFunc="@((Professor professor) => professor.LastName)"
                           MultiSelection="true"
                           @bind-SelectedValues="selectedProfessorIds">

                    @foreach (Professor professor in subject.Professors ?? new List<Professor>())
                    {
                        <MudSelectItem T="Professor" Value="@professor">@professor.LastName</MudSelectItem>
                    }
            
                </MudSelect>
            }
      
        </MudCardContent>

    </MudCard>

    <MudButton
        ButtonType="ButtonType.Submit" 
        Class="mt-4" 
        Color="Color.Primary" 
        Variant="Variant.Filled">
        @btnText
    </MudButton>

    <ValidationSummary />

</EditForm>

@code {


    [Parameter]
    public int Id { get; set; }

    private IEnumerable<Professor> selectedProfessorIds { get; set; } = new HashSet<Professor>();
    string btnText = string.Empty;
    bool isNew = true;
    public SubjectDTO subjects = new SubjectDTO();
    public Subject subject = new Subject();
    public List<Subject> subjectList = new List<Subject>();
    public List<Professor> Professors = new List<Professor>();

    List<EnrolledSubjectsDTO> EnrolledSubjectsList = new List<EnrolledSubjectsDTO>();
    // List<ProfessorSubjectDTO> ProfessorList = new List<ProfessorSubjectDTO>();

    protected override async Task OnInitializedAsync()
    {
        btnText = Id == 0 ? "Save new Subject" : "Update Subject";
        await ClientSubjectService.GetAllSubject();
    }

    protected override async Task OnParametersSetAsync()
    {
        if (Id != 0)
        {
            Subject? result = await ClientSubjectService.GetSingleSubject(Id);
            if (result != null)
            {
                subject = result;
                subjects.Name = result.Name;
            }
            else
            {
                NavigationManager.NavigateTo("/single-subject");

            }
        }
        else
        {
            List<Professor> result = await ClientProfessorService.GetAllProfessor();
            Professors = result;   
        }

    }


    // Code to Populate Multi Select

    private int value { get; set; } = 0;
    // private IEnumerable<int> options { get; set; } = new HashSet<int>();

    private List<Professor> GetProf(int subjectId)
    {
        // Assuming clientSubjectService.subjects is a collection of subjects
        List<Professor> professors = subject.Professors ?? new List<Professor>();
        return professors;
    }

    async Task HandleSubmit()
    {
        if (Id==0)
        {
            if (!string.IsNullOrEmpty(subjects.Name) && !subjectList.Any(s => s.Name == subjects.Name))
            {
                subjects.ProfessorIds = selectedProfessorIds.Select(professor =>
                professor.Id).ToList();
                await ClientSubjectService.AddSubject(subjects);

                Snackbar.Add(
                "Added Subject Successfully!",
                Severity.Success,
                config =>
                    {
                        config.ShowTransitionDuration = 200;
                        config.HideTransitionDuration = 400;
                        config.VisibleStateDuration = 2500;
                    });
            }
        }
        else
        {
            await ClientSubjectService.UpdateSubject((int)Id, subject);
            Snackbar.Add(
                "Update Subject Successfully",
                Severity.Success,
            config =>
            {
                config.ShowTransitionDuration = 200;
                config.HideTransitionDuration = 400;
                config.VisibleStateDuration = 2500;
            });
        }


    }

    async Task DeleteSubject()
    {
        await ClientSubjectService.DeleteSubject(subject.Id);
        StateHasChanged();
        Snackbar.Add(
                "Deleted Subject Successfully",
                Severity.Success,
            config =>
            {
                config.ShowTransitionDuration = 200;
                config.HideTransitionDuration = 400;
                config.VisibleStateDuration = 2500;
            });
    }
}
